.slider-container {
  position: center;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
}

.slider {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.slider img {
  width: 100%;
  height: auto;
}

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px 20px;
  background-color: #0730e9;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.left-btn {
  left: 10px;
}

.right-btn {
  right: 10px;
}